body {
  width: 100%;
}

html,
body {
  /* overflow-x: hidden; */
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  width: 100%;
}
.wrap {
  position: relative;
  width: 100%;
  height: 90px;
  /* float: left; */
  padding: 30px 0 0 0px;
  border-bottom: 1px solid #e5e5e5;
}

h1 {
  top: 30%;
  left: 50%;
  position: absolute;
  margin: auto;
  width: 140px;
}
h1 img {
  width: 140px;
}
.promotion {
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  margin: auto;

}
.promotion p{
  margin: auto;
  text-align: center;
  margin-left: 120px;
}
.promotion a {
  color: #fff;

}

.inner {
  width: 100%;
  height: 20px;
  margin: auto;
  position: absolute;
  top: 50%;
}
.menu {
  font-weight: 700;
  float: left;
}
.menu li {
  display: inline-block;
  margin-left: 29px;
}

.utill {
  width: 250px;
  float: right;
  margin-right: 100px;
  font-weight: 700;
}
.utill ul li {
  display: inline-block;
  margin-left: 29px;
}
.Commbackground {
  display: none;
}
.serch {
  width: 30px;
  height: 24px;
  position: absolute;
  top: 0%;
  right: 2%;
}
.cart {
  width: 28px;
  height: 24px;
  position: absolute;
  top: 0%;
  right: 0%;
}

/*best item*/
.bestitem h2{
  font-size: 3vw;
  margin-top: 13vh;
  text-align: center;
}
.best_item_detail{
  position: relative;
  width: 53vh;
  font-size: 2vh;
  text-align: left;

}
.bold{
  font-weight: bold;
}
.bestitem img {
  width: 52vh;
  height: 70.3vh;
}
.img_hover1{
  position: absolute;
}


.best_item_img:hover .img_hover1{
  display: none;
  transition:0.3s all ease;
}
.best_item_img:hover .img_hover2{
  display: block;
  transition:0.3s all ease;

}
.swiper-slide{

  padding-bottom: 10vh;
}
.bestSwiper{
  width: 164vh;
  height: 100%;
  text-align: center;
  margin-top: 8.5vh;
}
.swiper-scrollbar{
  border-radius: 5px;
}
/*//bestitemë*/


section.video {
  margin-top: 10vh;
  position: relative;
  overflow: hidden;
}


section.video div {
  position: relative;
  width: 100%;
  padding-top: 56.25%; 
}

/* Style the iframe within the video container */
section.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.midmain{
  display: flex;
  width: 100%;
  height: 900px;
}



.midmain a h2{
  font-size: 50px;
  margin-bottom: 40px;
}
.midmain a p{
  font-size: 25px;
}
.midmain_1{
  position: relative;
  width: 960px;
  background: url(/image/mid_bnr02.png)no-repeat;
  background-size: 960px;

}
.midmain_1 a{
  color: #fff;
  position: absolute;
  top:60%;
  left: 5%;
}

.midmain_2{
  position: relative;
  width:960px;
  background: url(/image/mid_bnr03.png)no-repeat;
  color: #fff;
  background-size:960px;
}
.midmain_2 a{
  position: absolute;
  color: #fff;
  position: absolute;
  top:60%;
  left: 5%;
}



.midmain_3{
  position: relative;
  height: 1080px;
  background: url(/image/mid_bnr04.png)no-repeat;
  background-size: 100%;
  text-align: center;
  line-height:1080px;
}

.midmain_3 h2{
  width: 100%;
height: 100%;
  font-size: 15vh;
  margin:auto;
  color: #fff;
  text-align: center; 
}
.midmain_3 button{
  cursor: pointer;;
  position: absolute;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  bottom:30%;
  width: 300px;
  height:55px;
  line-height: 55px;
  transform: translateX(-50%);
  background-color:fff;
  border: 1px solid #000 ;
  
}

/*//midmain*/
.midmain_4 h2{
  margin:100px 0 100px 0 ;
  text-align: center;
  font-size: 40px;
  font-weight: 700;


}
.review{
  margin: auto;
  width: 300px;
  margin-left: 100px;

}
.reviewSwiper{
  width: 1300px;
  margin: auto;
  margin-bottom: 20px;
}
.swiper-wrapper{
  margin: auto;
}
.swiper-slide{
  width: 250px;
}
.grade{
  width: 250px
}
.reviewimg{
  width:250px;
}

.review_detail span{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  display: inline-block;
  width:250px;

}

.review_pro{
  height: 50px;
}
.review_pro img{
  width: 55px;
  height: 55px;
  float: left;
}

.review_pro ul{
  width: 145px;

}
.review_pro ul li{
  font-size: 10px;
}

/*main//*/

/*footer*/


.footer_1{
  width: 100%;
  height: 86px;
  margin: auto;
  background-color: #e5e5e5;
}
.footer_1 ul {
  text-align: center;
  line-height: 86px;


}
.footer_1 ul>li{
  display: inline-block;
  margin-left: 20px;
  font-weight: 700;
}
.ftinner{
  padding: 20px;
  margin: auto;
  float: left;
}
.footer_2{
  margin: auto;
  background-color: #000;
  color: #fff;
  display: flex;

}
.footer_2 img{
  width: 182px;
  height: 56px;
}
.ftdetail_1{
  float: left;
}
.ftdetail_2{
  float: right;
  margin-left: 480px;
}